/*
    背景色：白
*/
body,
.card,
.card-contact
{
    background-color: #FFFFFF;
}
/* 
    背景色：黒 
*/
.section-top,
footer
{
    background-color: #303030;
}
/* 
    背景色：群青 
*/
.chips {
    background-color: #537495;
}

/* 
    文字色：白 
*/
.section-title,
.chips,
.copyright
{
    color: #FFFFFF;
}

/* 
    文字色：TEA Color 
*/
.primary-color 
{
    color: #0D71D7;
}
