h1 {
    font-size: 48px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
}
p {
    font-size: 18px;
}
a {
    font-size: 16px;
    text-decoration: none;
}
.section-title {
    padding-top: 56px;
    padding-bottom: 24px;
}
.inner {
    width: 100%;
    margin: auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

#top-head {
    width: 100%;
    height: 56px;
    top: -100px;
    position: absolute;
    margin: 100px auto 0;
    line-height: 56px;
    z-index: 999;
}
#top-head a,
#top-head {
    color: #303030;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
    font-size: 36px;
    margin-left: 48px;
}
#global-nav ul {
    width: auto;
    height: 56px;
    list-style: none;
    right: 0;
    bottom: 0;
    font-size: 14px;
    float:right;
}
#global-nav ul li {
    float: left;
    line-height: 56px;
}
#global-nav ul li a {
    padding: 0 20px;
}
#global-nav .icon {
    height: 32px;
    width: 32px;
    margin-top: 12px;
}
#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    height: 56px;
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed {
    font-size: 24px;
}
#top-head.fixed #global-nav ul li a {
    padding: 0 20px;
}
 
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
.main {
    padding: 16px;
}
.top {
    margin-top: 56px;
    text-align: center;
}
.top-image {
    width: 100%;
    max-width: 900px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.abouts {
    width: 100%;
    color: #336FD0;
    padding-bottom: 32px;
}
.abouts-section{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.about-us p {
    margin: 16px 0;
}
.value {
    width: 100%;
    text-align: center;
    padding-top: 32px;
}
.value-box {
    width: 100%;
    padding: 24px 0;
}
.trust {
    color: #F2755F;
    margin-bottom: 24px;
}
.fair {
    color: #66CDAA;
    margin-bottom: 24px;
}
.moral {
    color: #6A88E0;
    margin-bottom: 24px;
}

.activities {
    width: 100%;
    padding-bottom: 60px;
}
.activities-section {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.contacts-section {
    width: 100%;
    margin-top: 40px;
}
.map-frame {
    height: 400px;
    width: 100%;
    max-width: 600px;
}
.address {
    font-size: 16px;
    margin-top: 20px;
}
.address span {
    font-size: 18px;
    font-weight: bold;
}
.view-map {
    border-bottom: 1px solid #797979;
}

.contacts {
    width: 100%;
    padding-bottom: 60px;
    display: inline-block;
}
.social-icon {
    text-decoration: none;
    cursor: pointer;
}
.contacts-section {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.contact-form {
    width: 100%;
    max-width: 450px;
}
input[type="text"], textarea {
    width: 100%;
    max-width:450px;
    padding: 5px 0 5px 5px;
    margin-bottom: 20px;
    vertical-align: middle;
    border: 1px solid #303030;
    border-radius: 3px;
    resize: none;
    font-size: 16px;
}
textarea {
    height: 300px;
}
.btn {
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 3px;
    border: 1px solid #303030;
    cursor: pointer;
}
footer {
    height: 56px;
    text-align: center;
}
.copyright {
    line-height: 56px;
}