h1 {
    font-size: 60px;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    color: #5a5a5a;
}
p {
    font-size: 20px;
}
.section-title {
    padding-top: 60px;
    padding-bottom: 40px;
}
.flex {
    display: flex;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.top {
    text-align: center;
}
.top-image {
    width: 100%;
}
.header {
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 48px;
    background-color: #fff;
    font-size: 20px;
}
.header-container {
    width: 80%;
    margin: auto;
}
.header-logo {
    width: 100px;
    height: 50px;
    position: absolute;
}
.tea-logo {
    width: 100px;
    height: 50px;
    margin-top: 10px;
}
.header-menu {
    float: right;
    padding: 0 15px;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}
.header-menu a {
    margin: 0 15px;
    text-decoration: none;
}

.abouts {
    width: 100%;
    padding-bottom: 60px;
    background-color: #efefef;
}
.abouts-section{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.abouts-us p {
    padding: 10px 0;
}
.value {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    display: flex;
/*    justify-content: center;*/
}
.value-box {
    width: calc(100% / 3);
    margin: 0 15px;
}
.trust {
    width: 300px;
    height: 300px;
    color: #f2755f;
    background-color: #ffffff;
    line-height: 300px;
}
.trust-box {
    width: 300px;
    height: 150px;
    color: #ffffff;
    background-color: #f2755f;
/*
    display: table-cell;
    vertical-align: middle;
    text-align: center;
*/
}
.trust-inner {
    width: 300px;
    height: 150px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.fair {
    width: 300px;
    height: 300px;
    color: #66CDAA;
    background-color: #ffffff;
    line-height: 300px;
}
.fair-box {
    width: 300px;
    height: 150px;
    color: #ffffff;
    background-color: #66CDAA;
/*
    display: table-cell;
    vertical-align: middle;
    text-align: center;
*/
}
.fair-inner {
    width: 300px;
    height: 150px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.moral {
    width: 300px;
    height: 300px;
    color: #6A88E0;
    background-color: #ffffff;
    line-height: 300px;
}
.moral-box {
    width: 300px;
    height: 150px;
    color: #ffffff;
    background-color: #6A88E0;
/*
    display: table-cell;
    vertical-align: middle;
    text-align: center;
*/
}
.moral-inner {
    width: 300px;
    height: 150px;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.activities {
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 60px;
}
.activities-section {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.contacts-section {
    width: 100%;
    margin-top: 40px;
}
.map-frame {
    min-width: 320px;
    height: 400px;
    width: 80%;
    max-width: 600px;
/*
     width: 100%;
    max-width: 600px;
    height: 400px;
*/
}

.address {
    margin-top: 20px;
}
.view-map {
    display: none;
}

.contacts {
    width: 100%;
    padding-bottom: 60px;
    background-color: #efefef;
    display: inline-block;
}
.social-icon {
    text-decoration: none;
}
.icon {
    width: 40px;
    height: 40px;
}
.contacts-section {
    width: 900px;
    margin: auto;
}
.contact-form {
    width: 400px;
}
input[type="text"], textarea {
    width:400px;
    padding: 8px 0;
    margin-bottom: 20px;
    vertical-align: middle;
    background: rgba(255,255,255,0.9);
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
textarea {
    height: 300px;
}
.btn {
    font-size: 18px;
    background: rgba(255,255,255,0.9);
    padding: 10px 35px;
    color: #797979;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}
footer {
    padding: 10px 0;
}
.copyright {
    margin-left: 10%;
}

