h1 {
    font-size: 64px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    color: #5a5a5a;
}
p {
    font-size: 24px;
}
a {
    font-size: 16px;
    text-decoration: none;
}
.section-title {
    padding-top: 56px;
    padding-bottom: 24px;
}
.inner {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

#top-head {
    background: #fff;
    color: #666;
    top: -100px;
    position: absolute;
    width: 100%;
    margin: 100px auto 0;
    padding: 30px 0 0;
    line-height: 1;
    z-index: 999;
}
#top-head a,
#top-head {
    color: #666;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
    font-size: 36px;
}
#global-nav ul {
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: left;
}
#global-nav ul li a {
    padding: 0 30px;
}

#top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
/*    padding-top: 10px;*/
    height: 56px;
    background: #fff;
    background: rgba(255,255,255,.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed {
    font-size: 24px;
    color: #333;
}
.logo {
    font-size: 32px;
    color: #333;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}
 
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}


.top {
    margin-top: 56px;
    text-align: center;
}
.top-image {
    width: 100%;
}

.abouts {
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 32px;
}
.abouts-section{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.value {
    width: 100%;
    text-align: center;
    padding-top: 48px;
}
.value-box {
    width: 100%;
    margin: auto;
}
.trust {
    color: #F2755F;
    margin-bottom: 24px;
}
.fair {
    color: #66CDAA;
    margin-bottom: 24px;
}
.moral {
    color: #6A88E0;
    margin-bottom: 24px;
}

.activities {
    width: 100%;
    background-color: #efefef;
    padding-bottom: 60px;
}
.activities-section {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.contacts-section {
    width: 100%;
    margin-top: 40px;
}
.map-frame {
    min-width: 320px;
    height: 400px;
    width: 80%;
    max-width: 600px;
}

.address {
    margin-top: 20px;
}
.view-map {
    border-bottom: 1px solid #797979;
}

.contacts {
    width: 100%;
    padding-bottom: 60px;
    background-color: #ebebeb;
    display: inline-block;
}
.social-icon {
    text-decoration: none;
    cursor: pointer;
}
.icon {
    width: 40px;
    height: 40px;
}
.contacts-section {
    width: 900px;
    margin: auto;
}
.contact-form {
    width: 100%;
    max-width: 450px;
}
input[type="text"], textarea {
    width: 100%;
    max-width:450px;
    padding: 5px 0 5px 5px;
    margin-bottom: 20px;
    vertical-align: middle;
    background: rgba(255,255,255,0.9);
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
textarea {
    height: 300px;
}
.btn {
    font-size: 18px;
    background: rgba(255,255,255,0.9);
    padding: 10px 35px;
    color: #797979;
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
}
footer {
    padding: 10px 0;
}
.copyright {
    margin-left: 10%;
}

