@media(max-width: 900px){
    /*for mobile*/
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    .section-top h1{
        padding: 0;
        position: relative;
        top: 32px;
    }
    .section-title {
        padding: 0;
    }
    .card {
        width: calc(100vw - 80px);
        top: -94px;
        padding-bottom: 56px;
    }
    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
        border: none;
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    }
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    #mobile-head {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
        background-color: #FFFFFF;
        width: 100%;
        height: 64px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        color: #FEFEFE;
    }
    #global-nav {
        position: absolute;
        top: -500px;
        width: 100%;
        text-align: center;
        padding: 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav .icon {
        padding: 0px;
    }
    #global-nav ul {
        width: 100%;
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
        background-color: #FFFFFF;
        border-bottom: 1px solid #303030;
        padding: 0px;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        background-color: #FFFFFF;
        display: block;
        color: #303030;
        padding: 0;
    }
    .icon-item {
        background-color: #FFFFFF;
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .social-icon {
        width: 32px!important;
        margin: 0 16px;
    }
    #nav-toggle {
        display: block;
    }
    #nav-toggle span {
        background-color: #303030;
    }
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    .open #global-nav {
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }
    .top-image {
        width: 100vw;
        margin-top: 104px;
        margin-bottom: 56px;
    }
    .about {
        padding-bottom: 56px;
    }
    .skills {
        /* max-width: 300px; */
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    .skill-item {
        max-width: 300px;
        padding: 32px 0 8px 0; 
        margin: 0 auto;
    }
    .skill-content {
        max-width: 300px;
        /* float: left; */
    }
    .activity {
        padding-bottom: 56px;
    }
    .contact {
        padding-bottom: 56px;
    }
    .card-contact {
        display: flex;
        flex-direction: column;
        width: calc(100vw - 80px);
        top: -94px;
    }
}